<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/common/head :: head('Facturaci&oacute;n')"/>
<body>
<th:block th:include="/common/header :: header"/>
	<div class="container">
		<th:block th:include="/common/common :: boxsearch(#{productos.list.titol},'/productos')"/>
		<div class="container_main">		
		<div class="row mt-2">
		   <div class="col">
				<table class="table table-sm table-striped">
				  <thead>
				    <tr>
				      <th scope="col">id</th>
				      <th scope="col">Descripción</th>
				      <th scope="col">Precio</th>
				      <th scope="col">Tipo Iva</th>
				      <th scope="col">Habilitado</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="producto:${productos}">
				      <th scope="row">
				      	<a th:href="@{'producto/'+${producto.id}}">
						   <span th:text="${producto.id}">1</span>
						</a>
				      </th>
				      <td th:text="${producto.dem}">Descripcion</td>
				      <td th:text="${producto.pvp}">125.34</td>
				      <td th:text="${producto.tipiva.dem}">Reducido</td>
				      <td th:text="${producto.hbl}?'Activo':'No Activo'">Activo</td>
				    </tr>
				   
				  </tbody>
				</table>
				<div  th:if="${productos.totalPages==0}"
							 class="alert alert-warning">
							 No se han encontrado resultados						 	
				</div>
				<a th:href="@{/producto/new}" class="btn btn-primary">Nuevo</a>
			</div>
		</div> 		
		</div>
		<th:block th:include="/common/footer :: footer"/>
		<!-- <script type="text/javascript">
			function setPage(num){
				$("#page").val(num);
				$("#frm").submit();
			}
		</script> -->
	</div>
	<th:block th:include="/common/footer-js :: footer-js"/>
</body>
</html>