<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/common/head :: head('Facturaci&oacute;n')"/>
<body>
	<th:block th:include="/common/header :: header"/>
	<div class="container">
		<!-- <h2 th:text="#{formaspago.list.titol}">Lista de formas de pago</h2> -->
		<th:block th:include="/common/common :: box(#{formaspago.list.titol})"/>
		<div class="container_main">
		<div class="row mt-2">		 	
			<div class="col">
				<table class="table table-sm table-striped">
					<thead>
						<tr>
							<th>id</th>
							<th>Descripción</th>
							<th>Estado</th>
						</tr>
					</thead>
					<tbody>
					   <tr th:each="formapago:${formaspago}">
					   	  <td><a th:href="@{'formapago/'+${formapago.id}}">
					   	  		<span th:utext="${formapago.id}"></span>
					   	  	  </a>
					      </td>
						  <td th:utext="${formapago.dem}">Talon</td>
						  <td>
						     <span th:class="${formapago.hbl}?'label label-success':'label label-warning'"
						  	       th:text="${formapago.hbl}?'Activo':'No activo'">
						  		    
						  	 </span>
						  </td>
					   </tr>
					</tbody>
				<!-- 	<tfoot>
						
					</tfoot> -->
				</table>
				<div th:if="${formaspago.size()==0}" 
							class="alert alert-warning" 
							th:text="#{factu.nodatafound}">no data found
				</div>
				<a th:href="@{/maestros/formapago/new}" th:class="'btn btn-primary'">Nuevo</a>	
			</div>
		</div> <!-- row -->
		</div>
		<th:block th:include="/common/footer :: footer"/>
		
	</div> <!-- container -->
	<th:block th:include="/common/footer-js :: footer-js"/>
</body>
</html>