<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot QuickStart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
	<div class="container">
		<h1>Lista de productos</h1>
		<hr/>
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				<div class="media" th:each="product:${products}">
				  <div class="media-left">
				    <a th:href="@{'/shop/product/'+${product.id}}"
				    	style="font-size:32px;">
				      <i class="glyphicon glyphicon-picture"></i>
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading" 
				    	th:text="${product.title}">Media heading</h4>
				    <div class="pull-right">
				    	<span th:text="${product.price}"></span> €
				    </div>
				  </div>
				  <hr/>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>