<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
  .ui-autocomplete-loading {
    background: white url("/img/ui-anim_basic_16x16.gif") right center no-repeat;
  }
 </style>
</head>
<th:block th:include="/common/head :: head('Facturaci&oacute;n')" />
<body>
	<th:block th:include="/common/header :: header" /> 
	<div class="container">
		
		<form th:object="${factura}" th:action="@{/factura/save}"	method="post" id="frmFactura">
			<input type="hidden" id="clienteId" th:field="*{cliente.id}"/>
			<input type="hidden" id="empresaId" th:field="*{empresa.id}"/>
			<input type="hidden" th:field="*{impbru}"/>
			<input type="hidden" th:field="*{totfac}"/>
			<input type="hidden" id="index" th:name="index" th:value="${index}"/>
			<input type="hidden" th:field="*{linea.tipiva.id}"/>
			<!-- errors a include? -->
			<div th:if="${#fields.hasAnyErrors() or factura.hasErrors()}" class="alert alert-danger">
		    	<ul>
				    <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
				        <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
				        <span th:text="${e.message}">The error message</span>
				    </li>
				     <li th:each="e : ${factura.errors}">
			        <span th:text="#{${e.dem}}">The error message</span>
			    </li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Factura</h3>
							<div class="row">
								<div class="col-4">
									<h5 class="mb-0">De:</h5>
									<input class="form-control form-control-sm autocomplete" th:field="*{empresa.dem}" id="empresa"
												placeholder="escribir las primeras letras" type="text" />
									<address id="dadesEmp" th:utext="${factura.empresa.dadesEmpresa}"></address>
								</div>
								<div class="col-md-4">
									<h5 class="mb-0">Facturado a:</h5>
									<input class="form-control form-control-sm"  th:field="*{cliente.nom}" id="cliente"
												placeholder="escribir las primeras letras" type="text"/>
									<address id="dadesCli" th:utext="${factura.cliente.dadesCliente}"></address>
								</div>
								<div class="col-4">
									<h5 class="mb-0">Detalles:</h5>
									<div class="row">
										<div class="col">
											<small class="form-text text-muted">Ejercicio</small>
											<select class="form-control form-control-sm" th:field="*{ejercicio.id}"
												th:errorClass="text-danger">
												<option th:each="e : ${ejercicios}"
													th:value="${e.id}"
													th:text="${e.id}">2018
												</option>
											</select>
										</div>
									    <div class="col">
								          <small class="form-text text-muted">Fecha factura</small>
									      <input class="form-control form-control-sm" th:field="*{dat}" placeholder="fecha factura" type="date"/>
									    </div>

									</div>
									<div class="row">
										<div class="col">
											<small class="form-text text-muted">Forma de pago</small>
											<select class="form-control form-control-sm" th:field="*{forpag.id}"
												th:errorClass="text-danger">
												<option th:each="fp : ${formasPago}"
													th:value="${fp.id}"
													th:text="${fp.dem}">Tranferencia</option>
											</select>
											
										</div>
										<div class="col">
										  <small class="form-text text-muted">Serie/Factura</small>
									      <input id="factura" type="text" class="form-control form-control-sm" placeholder="Factura" value="XX/00021" readonly="readonly"/>
									    </div>
									</div>
									
								</div>
							</div> <!-- row -->
						</div>	<!-- panel heading -->
						<div class="card-body">
						    <table class="table table-sm">
						      <tbody>
						      <tr class="row">
						        <td scope="row" class="col-2"><input class="form-control autocomplete" type="text"  id="producte" th:field="*{linea.producto.id}"/></td>
							    <td class="col-5"><input class="form-control" type="text" th:field="*{linea.dem}"/></td>
							    <td class="col-1"><input class="form-control" type="number" th:field="*{linea.cantidad}" step=".01"/></td>
							    <td class="col-1"><input class="form-control" type="number" th:field="*{linea.preu}" step=".01" /></td>
							    <td class="col-1"><input class="form-control" type="number" th:field="*{linea.poriva}" readonly="readonly"/></td>
							    <td class="col-1"><input class="form-control" type="number" th:field="*{linea.importe}" step=".01"/></td> 
							    <td><button id="btnAddlin" name="addRow" type="submit" class="btn btn-primary btn-sm">Guardar</button></td>
							  </tr> 
							   </tbody>
							</table>
						     <table class="table table-sm">
							      <thead>
							        <tr class="row">
							          <th scope="col" class="col-2">Producto</th>
							          <th scope="col" class="col-5">Descripción</th>
							          <th scope="col" class="col-1">Cantidad</th>
							          <th scope="col" class="col-1">Precio</th>
							          <th scope="col" class="col-1">% Iva</th>
							          <th scope="col" class="col-1">Importe</th>
							          <th scope="col" class="col-1">Acción</th>
							        </tr>
							      </thead>
							      <tbody>
							        <tr th:each="lin, stat : *{detall}" class="row">
							          
							          <td scope="row" class="col-2"><input class="form-control" type="text" th:field="*{detall[__${stat.index}__].producto.id}" readonly="readonly"/></td>
							          <td class="col-5"><input class="form-control" type="text" th:field="*{detall[__${stat.index}__].dem}" readonly="readonly"/></td>
							          <td class="col-1"><input class="form-control" type="number" th:field="*{detall[__${stat.index}__].cantidad}" readonly="readonly"/></td>
							          <td class="col-1"><input class="form-control" type="number" th:field="*{detall[__${stat.index}__].preu}" readonly="readonly"/></td>
							          <td class="col-1"><input class="form-control" type="number" th:field="*{detall[__${stat.index}__].poriva}" readonly="readonly"/></td>
							          <td class="col-1"><input class="form-control" type="number" th:field="*{detall[__${stat.index}__].importe}" readonly="readonly"/></td> 
							          <td class="col-1">
							            <input type="hidden" th:field="*{detall[__${stat.index}__].tipiva.id}"/>
							            <button id="btnEditlin" name="editRow" type="submit"  th:onclick="'$(app.setIndex('+__${stat.index}__+'))'" class="btn btn-secondary btn-sm oi oi-pencil"></button>
							            <button id="btnRemovelin" name="removeRow" type="submit" th:onclick="'$(app.setIndex('+__${stat.index}__+'))'" class="btn btn-secondary btn-sm oi oi-delete"></button>
							          </td>
							        </tr>
							      </tbody>
							    </table>
							    
						</div>
						<div class="card-footer">
						
						    <div class="row justify-content-end">
						    	<div class="col-md-6">
								 <table class="table table-sm">
									<thead>
										<tr>
											<th>Subtotal</th>
											<th>Irpf</th>
											<th:block th:each="base : ${factura.bases}">
											  <th th:text="'% Iva('+${base.por}+')'"></th>
											<!-- <th>Iva (21%)</th>
											<th>Iva (10%)</th> -->
											</th:block>
											<th>Total</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td th:text="${factura.impbru}">1000.00</td>
											<td><input class="form-control form-control-sm" type="number" id="irpf" placeholder="%irpf"/></td>
											<th:block th:each="base : ${factura.bases}">
											  <td th:text="${base.impiva}"></td>
											<!-- <td>100.00</td>
											<td>30.00</td> -->
											</th:block>
											<td th:text="${factura.totfac}">1140.00</td>
										</tr>
									</tbody>
								</table>
								</div>						       
						    </div>
						    <div class="row justify-content-end">
						        <button type="submit" name="save" class="btn btn-primary">Guardar</button>
						    </div>
						</div>
					</div> <!-- card -->
				</div>	<!-- col -->
			</div> <!-- row -->
			<div class="row justify-content-end">
				 
			</div> 
		</form>
		<!-- formulario para borrar 
		<form id="frmAddLin"
			  th:action="@{'/faclin/new'}" method="post">
			<input type="hidden" name="id" th:value="${factura.id}"/>
		</form> -->
	</div> <!-- container --> 
	<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	 -->
	<th:block th:include="/common/footer-js :: footer-js"/>
	<script type="text/javascript" th:src="@{/js/factura.js}"></script>
	
	
</body>
</html>