<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/common/head :: head('Facturaci&oacute;n')" />
<body>
	<th:block th:include="/common/header :: header" /> 
	<div class="container">
		
		<form th:object="${factura}" th:action="@{/factura/save}"	method="post">
			<input type="hidden" id="clienteId" name="clienteId" value="*{clienteId}"></input>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Factura</h3>
							<div class="row">
								<div class="col-4">
									<h5>De: <span><input class="form-control form-control-sm" id="empresa"
												placeholder="escribir las primeras letras" type="text"/></span></h5>
									<address id="dadesEmp">
										<strong>Salpon S.l</strong><br /> Calle La Rambla 3 Bajos<br />
										07001 Palma<br /> Illes Balears<br />
									</address>
								</div>
								<div class="col-md-4">
									<h5>Facturado a: <span><input class="form-control form-control-sm" id="cliente"
												placeholder="escribir las primeras letras" type="text"/></span></h5>
									<address id="dadesCli">
										<strong>MULCICINES PORTO PI S.L</strong><br /> Carrer
										Ciutadella nº 26 A<br /> 07008 Palma<br /> Illes Balears<br />
									</address>
								</div>
								<div class="col-4">
									<h5 class="mb-0">Detalles:</h5>
									<div class="row">
										<div class="col">
										  <small class="form-text text-muted">Serie/Factura</small>
									      <input id="factura" type="text" class="form-control form-control-sm" placeholder="Factura" value="XX/00021" readonly="readonly"/>
									    </div>
									    <div class="col">
								          <small class="form-text text-muted">Fecha factura</small>
									      <input class="form-control form-control-sm" id="fecha" placeholder="fecha factura" type="date"/>
									    </div>
									</div>
									<div class="row">
										<div class="col">
											<small class="form-text text-muted">Forma de pago</small>
											<select class="form-control form-control-sm" th:field="*{forpagId}"
												th:errorClass="text-danger">
												<option th:each="forpag : ${formasPago}"
													th:value="${forpag.id}"
													th:selected="${factura.forpagId == forpag.id}"
													th:text="${forpag.dem}">Tranferencia</option>
											</select>
											
										</div>
									</div>
									
								</div>
							</div> <!-- row -->
						</div>	<!-- panel heading -->
						<div class="card-body">
						     <table class="table table-sm">
							      <thead>
							        <tr class="row">
							          <th scope="col" class="col-1">Producto</th>
							          <th scope="col" class="col-4">Descripción</th>
							          <th scope="col" class="col-1">Cantidad</th>
							          <th scope="col" class="col-1">Precio</th>
							          <th scope="col" class="col-2">Tipo impuesto</th>
							          <th scope="col" class="col-1">Importe</th>
							          <th scope="col" class="col-2">Acción</th>
							        </tr>
							      </thead>
							      <tbody>
							        <tr class="row">
							          <th scope="row" class="col-1">001</th>
							          <td class="col-4">Doe moe lorem ipsulom dedulos</td>
							          <td class="col-1">12.00</td>
							          <td class="col-1">100.00</td>
							          <td class="col-2">Reducido 7%</td>
							          <td class="col-1">1200.00</td>
							          <td class="col-2">
							            <button class="btn btn-secondary btn-sm">editar</button>
							            <button class="btn btn-secondary btn-sm">borrar</button>
							          </td>
							        </tr>
							      </tbody>
							    </table>
							    <button class="btn btn-primary btn-sm">Añadir</button>
						</div>
						<div class="card-footer">
						    <div class="row justify-content-end">
						    	<div class="col-md-6">
								 <table class="table table-sm">
									<thead>
										<tr>
											<th>Subtotal</th>
											<th>Irpf</th>
											<th>Iva (21%)</th>
											<th>Iva (10%)</th>
											<th>Total</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1000.00</td>
											<td><input class="form-control form-control-sm" type="number" id="irpf" placeholder="irpf"/></td>
											<td>100.00</td>
											<td>30.00</td>
											<td>1140.00</td>
										</tr>
									</tbody>
								</table>
								</div>						       
						    </div>
						</div>
					</div> <!-- card -->
				</div>	<!-- col -->
			</div> <!-- row -->
			<div class="row justify-content-end">
				 <button type="submit" class="btn btn-primary">Guardar</button>
			</div> 
		</form>
	</div> <!-- container --> 
	<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	 -->
	<th:block th:include="/common/footer-js :: footer-js"/>
	<script type="text/javascript" th:src="@{/js/factura.js}"></script>
	
	
</body>
</html>