<th:block th:fragment="box(title)" xmlns:th="http://www.thymeleaf.org" >
     <div class="row mt-1 mb-1">
	      	<div class="col-md">
		      <div class="card bg-secondary text-white text-center">
 	            <h2 th:utext="${title}"></h2>
 			    
		      </div>
		    </div>
      </div>
</th:block>
<th:block th:fragment="boxsearch(title,action)" xmlns:th="http://www.thymeleaf.org" >
     <div class="row mt-1 mb-1">
	      	<div class="col-md">
		      <div class="card bg-secondary text-white" style="flex-direction: row;">
 	            <h2 th:utext="${title}" class="mr-auto"></h2>
 			    <form class="form-inline" th:action="@{${action}}" th:if="${action!=null}">
					  <input class="form-control mr-sm-3" type="search" placeholder="Buscar por..." aria-label="Buscar por..."  name="term" th:value="${term}"/>
	   				  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
 				</form>	
		      </div>
		    </div>
      </div>
</th:block>
