<th:block th:fragment="modal" xmlns:th="http://www.thymeleaf.org" >
<!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <form id="frmEntrada" th:object="${entrada}" 
	  			th:action="@{/doEntrada}"
	  			method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" th:text="#{head.modal.title}">Entrada</h4>
                </div>
                <div class="modal-body">
                    <p th:text="#{index.entrar}">Selecciona una empresa y un ejercicio</p>
                    <p class="text-warning"><small>Si no seleccionas un ejercicio y empresa no podras ver facturas</small></p>
                    <label for="empresaId">Empresa</label>
                    <select class="form-control" 
			  		  th:field="*{empresaId}">
			    	  <option
			    		 th:each="empresa : ${empresas}"
			    		 th:value="${empresa.id}" 
			    		 th:selected="${entrada.empresaId == empresa.id}"
			    		 th:text="${empresa.dec}">
			    	  </option>
				    </select>
				    <label for="ejercicioId">Ejercicio</label>
				    <select class="form-control" 
			  		  th:field="*{ejercicioId}">
			    	  <option
			    		 th:each="ejercicio : ${ejercicios}"
			    		 th:value="${ejercicio.id}" 
			    		 th:selected="${entrada.ejercicioId == ejercicio.id}"
			    		 th:text="${ejercicio.id}">
			    	  </option>
				    </select>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="$('#empresaName').val($('#empresaId option:selected').text());">Entrar</button>
                </div>
            </div> <!-- content -->
            <input type="hidden" name="empresaName" id="empresaName"/>
           </form>
        </div>
    </div>
 </th:block>