<th:block th:fragment="head(title)" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title th:utext="${title}"></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="factu"/>
    <meta name="author" content="bernat"/>
    <!-- css: bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/open-iconic/font/css/open-iconic-bootstrap.css}"/>
     <!-- estils propis de l'aplicació -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/> 
	<link rel="stylesheet" type="text/css" th:href="@{/css/sticky-footer.css}"/>
</head>
</th:block>