<th:block th:fragment="header" xmlns:th="http://www.thymeleaf.org" >
	<nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Facturaci&oacute;n</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li th:classappend="${page == 'index' ? 'active' : ''}"> <a  href="#" th:href="@{/}">Home</a></li>
            <li th:classappend="${page == 'productos' ? 'active' : ''}"><a href="#" th:href="@{/productos}">Productos</a></li>
            <li th:classappend="${page == 'clientes' ? 'active' : ''}"><a href="#" th:href="@{/clientes}">Clientes</a></li>
            <li th:if="session.user.empresaId!='null' " 
            	th:classappend="${page == 'facturas' ? 'active' : ''}">
            	<a href="#"
            	   th:style="${session.user==null} ? 'color: gray;  pointer-events: none; cursor: default;' : 'none'"	
            	   th:href="${session.user==null} ? '#' : @{/facturas(empresa=${session.user.empresaId},ejercicio=${session.user.ejercicioId})}">Facturas</a></li>
           	<li th:classappend="${page == 'altres' ? 'dropdown active' : 'dropdown'}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ficheros <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#" th:href="@{/empresas}">Empresas</a></li>
                <li><a href="#" th:href="@{/maestros/formaspago}">Formas de pago</a></li>
                <li><a href="#" th:href="@{/maestros/tiposiva}">Tipos de iva</a></li>
                <li ><a href="#" 
                		th:style="${session.user==null} ? 'color: gray;  pointer-events: none; cursor: default;' : 'none'"
                		th:href="${session.user==null} ? '#' : @{/maestros/series(empresa=${session.user.empresaId})}">Series</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">otras opciones</li>
                <li><a href="#" th:href="@{/logout}">Salir</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          		<li><p 	class="navbar-text navbar-right" 
          				th:text="${session.user==null}?' ':(#{factu.nav.empresa(${session.user.empresaName})}) +' - '+ (#{factu.nav.ejercicio(${session.user.ejercicioId})})" 
          				th:unless="${session == null}"></p></li>
                <li th:if="${session.user != null}"><a href="#" th:text="${empresaId}">Salir</a></li>  
                <li th:if="${page == 'index'}"><a href="#myModal" data-toggle="modal">Entrar</a></li>
                <!-- <li th:if="${#authorization.expression('isAuthenticated()')}"><a href="/logout" th:href="@{/logout}">Salir</a></li> -->
           </ul>
          <!--  <p class="navbar-text navbar-right">Logged in as</p>  ${item.branch == null ? '' : item.branch.branchName}--> 
         
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</th:block>