<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot QuickStart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
	<div class="container">
		<h1>Compra realizada correctamente</h1>
		<hr/>
		<div class="alert alert-success">
			<p>Su pedido número <span th:utext="${order.id}"></span> 
			se está procesando correctamente.</p>
			
			<p>Compra realizada día
				<span 
				th:utext="${#dates.format(order.buyDate,'dd/MM/yyyy')}"/> 
			</p>
			
			<p>
				Gracias por su compra!
			</p>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>