<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/common/head :: head('Factu')"/>
<body lang='es'>
    <div class="container">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Facturación</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"> <a  href="#" th:href="@{/}">Home</a></li>
            <li><a href="#" th:href="@{/admin}">Maestros</a></li>
            <li><a href="#" th:href="@{/clientes}">Clientes</a></li>
            <li><a href="#" th:href="@{/facturas}">Facturas</a></li>
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
             
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
         <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h3>Entrada en el sistema de facturación</h3>
        <form th:object="${entrada}" 
					  th:action="@{/factu}"
					  method="post">
 		   <select class="form-control" 
	  		  th:field="*{empresaId}"
	   		  th:errorClass="text-danger">
	    	  <option
	    		 th:each="empresa : ${empresas}"
	    		 th:value="${empresa.id}" 
	    		 th:selected="${entrada.empresaId == empresa.id}"
	    		 th:text="${empresa.dec}">
	    	  </option>
		   </select>
		   <select class="form-control" 
	  		  th:field="*{ejercicioId}"
	   		  th:errorClass="text-danger">
	    	  <option
	    		 th:each="ejercicio : ${ejercicios}"
	    		 th:value="${ejercicio.id}" 
	    		 th:selected="${entrada.ejercicioId == ejercicio.id}"
	    		 th:text="${ejercicio.id}">
	    	  </option>
		   </select>
		   <p>Selecciona una empresa y un ejercicio</p>
           <button class="btn btn-lg btn-primary" type="submit">Entrar</button>
		</form>
      </div>

    </div> <!-- /container -->
</body>

</html>