<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/common/head :: head('Mi blog')"/>
<body>
	<div class="container">
		<h1>Formulario de artículo</h1>
		<hr/>
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
			
				<div th:if="${#httpServletRequest.getParameter('msg')=='ok'}" 
					 class="alert alert-success">
					 La operación se ha realizado correctamente
				</div>
<!-- 						
creationDate : Date
modificationDate : Date
labels : Set<Label>

-->
								
				<form th:object="${article}" 
					  th:action="@{/admin}"
					  method="post">
					  
				    <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
				    	<ul>
						    <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
						        <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
						        <span th:text="${e.message}">The error message</span>
						    </li>
						</ul>
					</div>
					  
					<div class="form-group">
					    <label 	for="id">ID</label>
					    <input 	class="form-control" 
					    		th:field="*{id}"
					    		th:errorClass="text-danger"/>
					    <span 	th:if="${#fields.hasErrors('id')}" 
					    		th:text="${#fields.errors('id')}"
					    		class="text-danger">
								</span>
					</div>
					<div class="form-group">
					    <label 	for="creationDate">Creado</label>
					    <input 	class="form-control" 
					    		th:field="*{creationDate}"
					    		readonly="readonly"/>
					    
					</div>
					<div class="form-group">
					    <label 	for="modificationDate">Modificado</label>
					    <input 	class="form-control" 
					    		th:field="*{modificationDate}"
					    		/>
					    
					</div>
					<div class="form-group">
					    <label 	for="title">T&iacute;tulo</label>
					    <input 	class="form-control" 
					    		th:field="*{title}"
					    		th:errorClass="text-danger"/>
					    <span 	th:if="${#fields.hasErrors('title')}" 
					    		th:text="${#fields.errors('title')}"
					    		class="text-danger">
								</span>
					</div>
					<div class="form-group">
					    <label 	for="shortDescription">Descripción corta</label>
					    <input 	class="form-control" 
					    		th:field="*{shortDescription}"
					    		th:errorClass="text-danger"/>
					    <span 	th:if="${#fields.hasErrors('shortDescription')}" 
					    		th:text="${#fields.errors('shortDescription')}"
					    		class="text-danger">
					    		</span>
					</div>
					<div class="form-group">
					    <label 	for="authorId">Autor</label>
					    <select	class="form-control" 
					    		th:field="*{authorId}"
					    		th:errorClass="text-danger">
					    	<option
					    		 th:each="author : ${authors}"
					    		 th:value="${author.id}" 
					    		 th:selected="${article.authorId == author.id}"
					    		 th:text="${author.name}"></option>
			    		</select>
					    <span 	th:if="${#fields.hasErrors('authorId')}" 
					    		th:text="${#fields.errors('authorId')}"
					    		class="text-danger">
								</span>
					</div>
					<div class="form-group">
					    <label 	for="labels">Etiquetas</label>
					    <input 	class="form-control" 
					    		th:field="*{labels}"
					    		th:errorClass="text-danger"/>
					    <span 	th:if="${#fields.hasErrors('labels')}" 
					    		th:text="${#fields.errors('labels')}"
					    		class="text-danger">
					    		</span>
					</div>
					<div class="form-group">
					    <label 	for="content">Cuerpo</label>
					    <textarea class="form-control" 
					    		name="content"
					    		id="content"
					    		th:errorClass="text-danger" 
					    		th:utext="${article.content}">
			    		</textarea>
					    <span 	th:if="${#fields.hasErrors('content')}" 
					    		th:text="${#fields.errors('content')}"
					    		class="text-danger">
					    		</span>
					</div>
					<div class="checkbox">
					    <label for="visible">
					    	 <input type="checkbox"
						    		th:field="*{visible}"
						    		th:errorClass="text-danger"/>
					    	Visible
				    	</label>
					    <span 	th:if="${#fields.hasErrors('visible')}" 
					    		th:text="${#fields.errors('visible')}"
					    		class="text-danger"></span>
					</div>
					<button type="submit" class="btn btn-primary ">Guardar</button>
					<button type="button" onclick="$('#frmRemove').submit();"
							th:if="${article.id!=null}"
							class="btn btn-warning">Borrar</button>
					<a 		th:href="@{/admin}"
							class="btn btn-default">Volver</a>
				</form>
				<!-- formulario para borrar -->
				<form id="frmRemove"
					  th:action="@{'/admin/remove'}" method="post">
					<input type="hidden" name="id" th:value="${article.id}"/>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
					$(function(){
						$.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
						
						//ini datepicker
						$("#modificationDate").datepicker({
							  dateFormat: "dd/mm/yy",
							  firstDay: 1
						});
						
						// ini froala
						$('#content').froalaEditor();
					});
				</script>
</body>
</html>