<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot QuickStart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Spring Boot Sample App</h1>
        <div class="alert alert-info">
            Your application is running correctly
        </div>
        <div class="row">
            <div class="col-md-6">
                Message from properties:
                <p th:text="#{home.welcome}">Welcome to our grocery store!</p>
            </div>
            <div class="col-md-6">
                Message from controller:
                <p th:text="${message}">Message from Controller</p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <h3>People</h3>
                <ul>
                    <li th:each="person : ${people}">
                        <span th:utext="${person.name+' '+person.surname}"></span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Addresses</h3>
                <ul>
                    <li th:each="addr : ${addresses}">
                        <span th:utext="${addr.street}"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <hr/>
            <h3>Protected resources</h3>
            <ul>
                <li><a th:href="@{/api/public/hello}">Public api call</a></li>
                <li><a th:href="@{/api/admin/hello}">Protected (admin role) api call</a></li>
            </ul>
            <hr/>
            </div>
        </div>
    </div>
    <div class="container">
        <footer class="text-center">
            <a href="https://www.arteco-consulting.com">Arteco Consulting Sl</a>, 2016
        </footer>
    </div>
</body>
</html>