<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/common/head :: head('Facturaci&oacute;n')"/>
<body>
	<th:block th:include="/common/header :: header"/>
	<div class="container">
		<h2 th:text="#{series.list.titol(${user.empresaName})}">Lista de series</h2>
		<div class="row">		 	
			<div class="col-md-12">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>id</th>
							<th>Descripción</th>
							<th>Estado</th>
						</tr>
					</thead>
					<tbody>
					   <tr th:each="serie:${series}">
					   	  <td><a th:href="@{'/maestros/serie/'+${serie.id}}">
					   	  		<span th:utext="${serie.id}"></span>
					   	  	  </a>
					      </td>
						  <td th:utext="${serie.dec}">Serie A</td>
						  <td><span th:class="${serie.hbl}?'label label-success':'label label-warning'"
						  		    th:text="${serie.hbl}?'Activo':'No activo'"></span>
						  </td>
					   </tr>
					</tbody>
					<tfoot>
						<div th:if="${series.size()==0}" 
							class="alert alert-warning" 
							th:text="#{factu.nodatafound}">no data found
						</div>
					</tfoot>
				</table>
				<a th:href="@{/maestros/serie/new}" th:class="'btn btn-primary'">Nuevo</a>	
			</div>
		</div> <!-- row -->
		<th:block th:include="/common/footer :: footer"/>
		
	</div> <!-- container -->
	
</body>
</html>