<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/common/head :: head('Facturaci&oacute;n')"/>
<body>
	<th:block th:include="/common/header :: header"/>
	<div class="container">
		<!-- <h2 th:text="#{series.list.titol}">Lista de series</h2> -->
		<th:block th:include="/common/common :: box(#{series.list.titol})"/>
		<div class="container_main">
		  <div class="row mt-2">		 	
			 <div class="col">
				<table class="table table-sm table-striped">
					<thead>
						<tr>
							<th>id</th>
							<th>Descripción</th>
							<th>Empresa</th>
							<th>Estado</th>
						</tr>
					</thead>
					<tbody>
					   <tr th:each="serie:${series}">
					   	  <td><a th:href="@{'/maestros/serie/'+${serie.id}}">
					   	  		<span th:utext="${serie.id}"></span>
					   	  	  </a>
					      </td>
						  <td th:utext="${serie.dec}">Serie A</td>
						  <td th:utext="${serie.empresa.dem}">Serie A</td>
						  <td><span th:class="${serie.hbl}?'label label-success':'label label-warning'"
						  		    th:text="${serie.hbl}?'Activo':'No activo'"></span>
						  </td>
					   </tr>
					</tbody>
				</table>
				<div th:if="${series.size()==0}" 
					class="alert alert-warning" 
					th:text="#{factu.nodatafound}">no data found
				</div>
				<a th:href="@{/maestros/serie/new}" th:class="'btn btn-primary'">Nuevo</a>	
			</div>
		  </div> <!-- row -->
		</div>
		<th:block th:include="/common/footer :: footer"/>
		
	</div> <!-- container -->
	<th:block th:include="/common/footer-js :: footer-js"/>
</body>
</html>