<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/common/head :: head('Facturaci&oacute;n')"/>
<body>
	<th:block th:include="/common/header :: header"/>
	<div class="container">
		<!-- <h2 th:text="#{tiposiva.edit.titol}">Formulario</h2> -->
		<th:block th:include="/common/common :: box(#{tiposiva.edit.titol})"/>
		<div class="container_main">
		  <div class="row">
			<div class="col-md-6 offset-md-2">
			
				<div th:if="${#httpServletRequest.getParameter('msg')=='ok'}" 
					 class="alert alert-success" th:utext="#{factu.succesful.operation}">
				</div>
								
				<form th:object="${tipoivadet}" 
					  th:action="@{/maestros/tipoivadet/save}"
					  method="post">
					  
				    <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
				    	<ul>
						    <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
						        <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
						        <span th:text="${e.message}">The error message</span>
						    </li>
						</ul>
					</div>
						<div class="form-group">
						    <label 	for="id">ID</label>
						    <input 	class="form-control" 
						    		th:field="*{id}" 
						    		th:errorClass="text-danger" 
						    		readonly="readonly"/>
				    		
						</div>
						<div class="form-group">
							 <label for="tipo">Tipo</label>
						     <select class="form-control"  
						      th:field="*{tipiva.id}" autofocus="autofocus">
	                         <option th:each="tipiva : ${tiposiva}"
	                            th:value="${tipiva.id}"
	                            th:utext="${tipiva.dem}"/>
                 			 </select>
						</div>
						
						
						<div class="form-group">
						    <label 	for="anyo">Año</label>
						    <input 	class="form-control" 
						    		th:field="*{anyo}"/>
	 						<span 	th:if="${#fields.hasErrors('anyo')}" 
						    		th:text="${#fields.errors('anyo')}"
						    		class="text-danger">
							</span>					    		
						</div>
						<div class="form-group">
						    <label 	for="mes">Mes</label>
						    <input 	class="form-control" 
						    		th:field="*{mes}"/>
	 						<span 	th:if="${#fields.hasErrors('mes')}" 
						    		th:text="${#fields.errors('mes')}"
						    		class="text-danger">
							</span>					    		
						</div>
						<div class="form-group">
						    <label 	for="poriva">% Iva</label>
						    <input 	class="form-control" 
						    		th:field="*{poriva}"/>
	 						<span 	th:if="${#fields.hasErrors('poriva')}" 
						    		th:text="${#fields.errors('poriva')}"
						    		class="text-danger">
							</span>					    		
						</div>
						<div class="form-group">
						    <label 	for="requiv">% R.Equiv</label>
						    <input 	class="form-control" 
						    		th:field="*{requiv}"/>
	 						<span 	th:if="${#fields.hasErrors('requiv')}" 
						    		th:text="${#fields.errors('requiv')}"
						    		class="text-danger">
							</span>					    		
						</div>
						<button type="submit" class="btn btn-primary ">Guardar</button>
						<button type="button" onclick="$('#frmRemove').submit();"
								th:if="${tipoivadet.id!=null}"
								class="btn btn-warning">Borrar</button>
						<a	th:href="@{/maestros/tiposiva}"
							class="btn btn-default">Volver</a>
				</form>
				<!-- formulario para borrar -->
				<form id="frmRemove"
					  th:action="@{'/maestros/tipoivadet/remove'}" method="post">
					<input type="hidden" name="id" th:value="${tipoivadet.id}"/>
				</form>
			</div>
		  </div> <!-- row -->
		</div>
		<th:block th:include="/common/footer :: footer"/>
	</div> <!-- container -->
	<th:block th:include="/common/footer-js :: footer-js"/>
</body>
</html>