<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/common/head :: head('Facturaci&oacute;n')"/>
<body>
	<th:block th:include="/common/header :: header"/>
	<div class="container">
		<!-- <h2 th:text="#{tiposiva.list.titol}">Lista</h2> -->
		<th:block th:include="/common/common :: box(#{tiposiva.list.titol})"/>
		<div class="container_main">
		  <div class="row">		 	
			<div class="col-md-12">
				<table class="table table-sm table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Id Tipo iva</th>
							<th>Descripción</th>
							<th>Año</th>
							<th>Mes</th>
							<th>% Iva</th>
							<th>% R.Equiv</th>
						</tr>
					</thead>
					<tbody>
					   <tr th:each="tipoiva:${tiposiva}">
					   	  <td><a th:href="@{'tipoivadet/'+${tipoiva.id}}">
					   	  		<span th:utext="${tipoiva.id}"></span>
					   	  	  </a>
					      </td>
					      <td th:utext="${tipoiva.tipiva.id}">iva reducido</td>
						  <td th:utext="${tipoiva.tipiva.dem}">iva reducido 7%</td>
						  <td th:utext="${tipoiva.anyo}">2012</td>
						  <td th:utext="${tipoiva.mes}">01</td>
						  <td th:utext="${tipoiva.poriva}">4.00</td>
						  <td th:utext="${tipoiva.requiv}">1.00</td>
					   </tr>
					</tbody>
				</table>
				<div th:if="${tiposiva.size()==0}" 
							class="alert alert-warning" 
							th:text="#{factu.nodatafound}">no data found
				</div>
				<a th:href="@{/maestros/tipoivadet/new}" th:class="'btn btn-primary'">Nuevo</a>	
			</div>
		  </div> <!-- row -->
		</div>
		<th:block th:include="/common/footer :: footer"/>
		
	</div> <!-- container -->
	<th:block th:include="/common/footer-js :: footer-js"/>
</body>
</html>