<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/common/head :: head('Facturaci&oacute;n')"/>
<body>
	<th:block th:include="/common/header :: header"/>
	<div class="container">
	    <th:block th:include="/common/common :: box(#{empresas.list.titol})"/>
		<div class="container_main">
		<div class="row mt-2">		 	
			<div class="col">
				<table class="table table-sm table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre resumido</th>
							<th>Nombre ampliado</th>
							<th>Cif</th>
							<th>Dirección</th>
							<th>Teléfono</th>
							<th>Fax</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
					   <tr th:each="empresa:${empresas}">
					   	  <td><a th:href="@{'empresa/'+${empresa.id}}">
					   	  		<span th:utext="${empresa.id}"></span>
					   	  	  </a>
					      </td>
						  <td th:utext="${empresa.dec}">empresa A</td>
						  <td th:utext="${empresa.dem}">empresa A ampliada</td>
						  <td th:utext="${empresa.nif}">B12345678</td>
						  <td th:utext="${empresa.direccion}">calle La Rambla 3, bajos</td>
						  <td th:utext="${empresa.tel}">123456789</td>
						  <td th:utext="${empresa.fax}">234567890</td>
						  <td th:utext="${empresa.email}">someone@company.com</td>
					   </tr>
					</tbody>
				</table>
				<div th:if="${empresas.size()==0}" 
							class="alert alert-warning" 
							th:text="#{factu.nodatafound}">no data found
				</div>
				<a th:href="@{/empresa/new}" th:class="'btn btn-primary'">Nuevo</a>	
			</div>
		</div> <!-- row -->
		</div>
		<th:block th:include="/common/footer :: footer"/>
		
	</div> <!-- container -->
	<th:block th:include="/common/footer-js :: footer-js"/>
</body>
</html>